ASTERISK_SIP_PASSWORD=replace-with-a-long-random-password
ASTERISK_ARI_USER=outbound
ASTERISK_ARI_PASSWORD=replace-with-a-long-random-password
ASTERISK_EXTERNAL_ADDRESS=host.docker.internal

OUTBOUND_TELEPHONY_MODE=mock
OUTBOUND_PROCESSING_MODE=mock
